@import '../../../styles/variables';

.form {
  position: relative;
  width: 100%;
  max-width: 77rem;
}

.input {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.4rem;

  padding: 1.2rem 1.6rem;
  border: 1px solid $grayscale-40;
  border-radius: 0.8rem;
  background: white;

  width: 100%;

  @include body3;
  width: 100%;
  outline: none;

  &::placeholder {
    @include body3;
    color: $grayscale-40;
  }

  &:focus {
    border: 2px solid $primary;
  }
}

.ul {
  position: absolute;
  z-index: 1;
  width: 100%;
  list-style-type: none;
  border-radius: 0.8rem;
  border: 1px solid $grayscale-40;
  padding: 1.2rem 0;
  max-height: 27.2rem;
  overflow-y: scroll;
  &::-webkit-scrollbar {
    height: 90%;
    width: 1rem;
    z-index: 1;
    background-color: $grayscale-20;
    border-radius: 9999px;
    // overflow: hidden;
  }
  &::-webkit-scrollbar-thumb {
    background-color: $primary;
    border-radius: 9999px;
  }
}

.li {
  width: 100%;
  padding: 1.2rem 1.6rem;

  @include body3;
}
